@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
body{
    background-color:  hsl(218, 23%, 16%);
    color: hsl(193, 38%, 86%);
    font-family: "Manrope";
}
#advice{
    color: hsl(150, 100%, 66%);
    letter-spacing: 3px;
    font-size: 10px;
}

.container {
    background-color: hsl(217, 19%, 24%);
}
#dice{
    background-color: hsl(150, 100%, 66%);
    text-align: center;
    bottom: -12%;
}
#dice:hover{
    box-shadow: 0 0 30px aquamarine;
}
.attribution {
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(150, 100%, 66%);
}